# Dependencies
node_modules
npm-debug.log
yarn-error.log

# Next.js
.next
out

# Production
build
dist

# Environment
.env
.env.local
.env.*.local

# Keys
keys/
*.pem

# IDE
.idea
.vscode
*.swp
*.swo

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Misc
*.md
LICENSE
.prettierrc
.eslintrc*
